@font-face {
	font-family: 'FontLato'; 
	src: url(../../fonts/lato-semibold.ttf); 
}

@font-face {
	font-family: 'FontReleway'; 
	src: local('FontReleway'), url(../../fonts/Raleway-ExtraBold.ttf); 
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');