.footer {
    background-color: #3D4050;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

     /* Tablet */
     @media (max-width: 1201px) {
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
        
    }
}
.footer__info {
    font-weight: 400;
    font-size: 13px;
    color: #FFFFFF;

    /* Mobile */
    @media (max-width: 899px) {
        width: 180px;
        text-align: center;
    }
}


.footer__payment {
    display: flex;
    column-gap: 38px;

    &::after{
        content: '';
        display: block;
        width: 1px;
        height: 18px;
        background-color: #C3C3C3;

        /* Mobile */
        @media (max-width: 899px) {
            width: 100%;
            height: 1px;
            display: none;
        }

    }

    &::before{
        content: '';
        display: block;
        width: 1px;
        height: 18px;
        background-color: #C3C3C3;

        /* Mobile */
        @media (max-width: 899px) {
            width: 100%;
            height: 1px;
            display: none;
        }
    }

    /* Mobile */
    @media (max-width: 899px) {
        flex-direction: column;
        row-gap: 10px;
       
    }

   
}
.footer__payment-type {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-weight: 400;
    font-size: 13px;
    color: #C3C3C3;

    /* Mobile */
    @media (max-width: 899px) {
        column-gap: 15px;
    }
}

.footer__contacts {
    display: flex;
    column-gap: 38px;

    /* Mobile */
    @media (max-width: 899px) {
        flex-direction: column;
        row-gap: 10px;
        padding-left: 38px;
    }
}
.footer__contacts-type {
    display: flex;
    align-items: center;
    column-gap: 10px;
    align-items: center;
    font-weight: 400;
    font-size: 13px;
    color: #FFFFFF;

    /* Mobile */
    @media (max-width: 899px) {
        column-gap: 15px;
    }
}
