.header {
    padding-top: 103px;
    padding-bottom: 202px;
    background-image: url(../../img/header/header-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
}


