.header {
    padding-top: 103px;
    padding-bottom: 202px;
    background-image: url('../img/header/header-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;

    /* Tablet */
    @media (max-width: 1140px) {
        padding-top: 90px;
        padding-bottom: 120px;
    }
}




