.header-top {
    padding-top: 34px;
    padding-bottom: 32px;
    background-color: rgba(16, 16, 29, 0.9);

    position: sticky;
    z-index: 10;
    top:0px;

    /* Mobile XS */
    @media (max-width: 599px) {
        padding-top: 24px;
        padding-bottom: 22px;
    }

  
   
   
}

.header-top__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-top__logo {
    color: #FFFFFF;
    font-family: 'FontReleway';
    font-size: 28px;

    /* Tablet */
    @media (max-width: 1201px) {
        font-size: 26px;
    }

    /* Mobile */
    @media (max-width: 899px) {
        font-size: 24px;
    }

    /* Mobile XS */
    @media (max-width: 599px) {
        font-size: 22px;
    }

}

.header-top__logo span{
    color: #42A9ED;
}
.header-top__nav {
    width: 435px;

    /* Tablet */
    @media (max-width: 1201px) {
        width: 390px;
    }

    /* Mobile */
    @media (max-width: 899px) {
        display: none;
    }


}
.header-top__list {
    display: flex;
    justify-content: space-between;
}
.header-top__line {
    color: #FFFFFF;
    transition: color 0.1s ease-in;
    font-size: 13px;
    font-family: 'FontLato'; 

    &:hover{
        color: #42A9ED;
    }

   
}



