.order{
    padding-top: 121px;
    padding-bottom: 152px;

    background-color: #272733;
    background-image: url('../img/order/decoration-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}






