.card {
   text-align: center;
   display: flex;
   flex-direction: column;
   width: 188px;
   
}
.card__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border:#286690 solid 5px ;
    
    
    
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #3E9CDC;

    /* Tablet */
    @media (max-width: 1201px) {
        width: 80px;
        height: 80px;
    }
}
.card__img {
    width: 55px;
    height: 55px;

    /* Tablet */
    @media (max-width: 1201px) {
        width: 45px;
        height: 45px;
    }
    
}
.card__title {
    
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;

    &.card__title--edit{
        padding-bottom: 15px;

        &.pb-15{
            /* Tablet */
        @media (max-width: 1201px) {
            padding-bottom: unset;
        }
        }
        /* Mobile */
        @media (max-width: 899px) {
            padding-bottom: unset;
        }
        
        

    }

    /* Tablet */
    @media (max-width: 1201px) {
        font-size: 14px;
    }

}