.info-block {
width: 780px;

/* Tablet */
@media (max-width: 1201px) {
   width: 690px;
}

/* Mobile */
@media (max-width: 899px) {
    width: 520px;
    margin-left: auto;
    margin-right: auto;
}

/* Mobile XS */
@media (max-width: 599px) {
    width: 290px;
}
}
.info-block__title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 80px;

    /* Tablet */
    @media (max-width: 1201px) {
        font-size: 44px;
        margin-bottom: 50px;
        // text-shadow: 2px 2px 4px #aaddff88;
    }

    /* Mobile */
    @media (max-width: 899px) {
        font-size: 40px;
        margin-bottom: 45px;
        text-align: center;
        color: #ffffff;
    }

    /* Mobile XS */
    @media (max-width: 599px) {
        width: 290px;
        margin-left: auto;
        margin-right: auto;
        font-size: 28px;
    }
}

.info-block__title span{
color: #3E9CDC;
}
.info-block__centr {
    margin-bottom: 80px;

    /* Tablet */
    @media (max-width: 1201px) {
        margin-bottom: 55px;
    }

    /* Mobile */
    @media (max-width: 899px) {
        margin-bottom: 50px;
        text-align: center;
    }
}

.info-block__centr p{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;

    /* Tablet */
    @media (max-width: 1201px) {
        font-size: 18px;
    }

    /* Mobile */
    @media (max-width: 899px) {
        color: #ffffff;
    }
}
.info-block__list {
    margin-left: 20px;

    /* Mobile */
    @media (max-width: 899px) {
        text-align: left;
        
        
    }
}
.info-block__line {
    font-weight: 400;
    font-size: 20px;
    position: relative;

    &::after{
        content: "";
        width: 5px;
        height: 2px;
        background-color: #000000;
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -11px;

        /* Mobile */
        @media (max-width: 899px) {
            background-color: #ffffff;
        }
        
    }

    /* Tablet */
    @media (max-width: 1201px) {
        font-size: 18px;
    }

    /* Mobile */
    @media (max-width: 899px) {
        color: #ffffff;
    }
}
.info-block__wrapper-btn {
    display: flex;
    column-gap: 30px;

    /* Mobile */
    @media (max-width: 899px) {
        justify-content: center;
        
    }
}