.range-slider {
    width: 772px;

    /* Tablet */
    @media (max-width: 1201px) {
        width: 480px;
    }

    /* Mobile */
    @media (max-width: 899px) {
        width: 490px;
    }

    /* Mobile XS */
    @media (max-width: 599px) {
        width: 230px;
    }
}

.range-slaider__wrapper{
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 12px;


font-weight: 400;
font-size: 18px;
color: #FFFFFF;
}

.range-slider__title{
    /* Mobile XS */
    @media (max-width: 599px) {
        font-size: 11px;
    }
}

.range-slider__percent {
    font-family: 'FontLato';
    /* Mobile XS */
    @media (max-width: 599px) {
        font-size: 11px;
    } 

}

.range-slaider__track {
    -webkit-appearance: none; 
    -moz-apperance: none; 
    appearance: none;
    outline: none;
    display: block;

    width: 772px;
    height: 13px;
    background: rgba(#ffffff, 0.7);
    border-radius: 15px;
    border: #FFFFFF solid 1px;

    /* Tablet */
    @media (max-width: 1201px) {
        width: 480px;
    }

    /* Mobile */
    @media (max-width: 899px) {
        width: 490px;
    }

    /* Mobile XS */
    @media (max-width: 599px) {
        width: 230px;
    }
    
}

.range-slaider__track::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    
    width: 24px;
    height: 24px;
    background: #42A9ED;
    border-radius: 50%;
    border: 3px solid #286690;
    cursor: pointer;
}

.range-slaider__track::-moz-range-thumb{
    -moz-apperance: none; 
    appearance: none;

    width: 24px;
    height: 24px;
    background: #42A9ED;
    border-radius: 50%;
    border: 3px solid #286690;
    cursor: pointer;
}
